
/* переменные */
:root {
    --accent: #D1A954; 
}
.section-padding {
    padding-top: 150px;
    padding-bottom: 150px;
}
html {
    box-sizing: border-box;
}
.text--yellow {
    color: var(--accent); 
}

/* компоненты */
body {
    font-family: 'Open Sans Condensed',Arial, Helvetica, sans-serif;
    background-color: #333333;
    color: white;
}
@media (max-width: 992px) {
    body {
       margin-right: -295px;
      }
}
ul li {
    list-style: none;
}
.gray {
    background-color: #444444;
}
form {
   padding-left: 50px;
}
/* ! первый экран */
.header {
    height: 1045px;
    background-image: url(../img/bg.png);
    background-size: cover;
    background-position: center;
    width: 100%;
}
.header__menu {
    position: relative;
}
.header__item {
   margin-top: 200px; 
}
.slider {
    position: relative;
    margin-top: 200px;
}
.arrow-next {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    background: none;
    border: none;
    color: #C4C4C4;
    letter-spacing: 1px;
    position: absolute;
    bottom: -40px;
    margin-right: 15px;
    right: 0;
}
.arrow-prev {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    background: none;
    border: none;
    color: #C4C4C4;
    letter-spacing: 1px;
    position: absolute;
    bottom: -40px;
    margin-left: 45px;
    left: 0;
}

/*  */
.slider__item {
    position: relative;
    height: 650px;
}

.picture__wrapper {
    height: inherit;
    width: inherit;
}
/* inherit - значит наследует параметры от родителя (в данном случае от slider__item */
.slider__item img {
    height: inherit;
    width: inherit;
    object-position: top;
    object-fit: contain;
    position: absolute;
    padding-bottom: 40px;
}

.slider__item img:first-child {
    top: 0;
    left: 0;
    z-index: 10;
}
.slider__item img:last-child {
    top: 30px;
    left: 30px;
}
.slick-track {
    display: flex;
}
/* граници слайда */
.slick-list {
    overflow: hidden;
}
.arrow-next:after {
    content: '';
    background-image: url("../img/arrow-next.png");
    height: 15px;
    width: 40px;
    display: inline-block;
    margin-left: 20px;
}
.arrow-prev:before {
    content: '';
    background-image: url("../img/arrow-prev.png");
    height: 15px;
    width: 40px;
    display: inline-block;
    margin-right: 20px;
}
@media (max-width: 992px) {
    .slider {
        display: none;
      }
}
.header_title {
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 700; 
    letter-spacing: 2px;
}
@media (max-width: 992px) {
    .header_title  {
        font-size: 60px;
      }
} 
.header__text {
    font-size: 14px;
    font-weight: 400;
    max-width: 440px;
    letter-spacing: 1px;
}
@media (max-width: 992px) {
    .header__text  {
        font-size: 22px;
        width: 700px;
      }
} 
.menu__item{
    margin-right: 45px;
    position: relative; 
    letter-spacing: 1px;  
}
.menu__item:last-child {
    margin-right: 0;
}
.menu__item-tel {
    margin-left: 130px; 
}
.menu__link {
    color: white;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    transition: all .1s ease-in-out;
}

@media (max-width: 992px) {
    .menu__link  {
        padding: 0;
        width: 100px;
        font-size: 18px;
      }
}
@media (max-width: 992px) {
    .menu  {
        flex-wrap: wrap;
      }
}
@media (max-width: 992px) {
    .menu__item_tel  {
       margin-top: 40px;
       margin-left: 350px;
       font-size: 18px;
      }
}
.menu__link:hover {
    color: white;
    text-decoration: underline var(--accent);
}

.menu {
    margin-left: -35px;
    text-transform: uppercase;
}
.button {
    background-color: var(--accent);
    height: 50px;
    width: 160px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    border: none;
}
.header__social {
    position: fixed;
    width: 130px;
    height: 1045px;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
}
 /* @media (max-width: 992px) {
    .header__social  {
        margin-left: -16%;
      }
}  */
.social{
    width: 130px;
}

.social__link_instagram {
    height: 20px;
    width: 20px;
    background-image: url(../img/instagram.png);
    background-size: cover;
    background-repeat: no-repeat;
    transition: .3s ;
}
.icon__instagram:hover .social__link_instagram {
    background-image: url(../img/instagram1.png);
}
.icon__instagram {
    height: 30px;
    width: 40px;
    display: block;
}
.social__link_facebook {
    height: 20px;
    width: 10px;
    background-image: url(../img/facebook.png);
    background-size: cover;
    background-repeat: no-repeat;
    transition: .3s ;
}
.icon__facebook:hover .social__link_facebook {
    background-image: url(../img/facebook1.png);
}
.icon__facebook {
    height: 45px;
    width: 50px;
    display: block;
}
.social__link_vk {
    height: 10px;
    width: 20px;
    background-image: url(../img/vk.png);
    background-size: cover;
    background-repeat: no-repeat;
    transition: .3s ;
}
.icon__vk:hover .social__link_vk {
    background-image: url(../img/vk1.png);
}
.icon__vk {
    height: 20px;
    width: 50px;
    display: block;
}
.social__link_youtube {
    height: 13px;
    width: 19px;
    background-image: url(../img/youtube.png);
    background-size: cover;
    background-repeat: no-repeat;
    transition: .3s ;
}
.icon__youtube:hover .social__link_youtube {
    background-image: url(../img/youtube1.png);
}
.icon__youtube {
    height: 15px;
    width: 30px;
    display: block;
}
.social-line {
    height: 100px;
}
.social-text {
    font-size: 16px;
    text-transform: uppercase;
    transform: rotate(-90deg);
    width: 250px;
    height: 50px; 
    margin-bottom: 120px;
    
}

/* !секкия 1я "О театре */
.about_theater{
    height: 830px;
    background-color: #313131;
    background-size: cover;
    background-position: center;
    width: 100%;
} 
.about_theater__title {
    text-transform: uppercase;
    font-size: 48px;
    margin-top: 150px;
}
.about_theater__subtitle{
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 1px;
}
@media (max-width: 992px) {
    .about_theater__subtitle {
       font-size: 24px;
      }
}
.about_theater__text {
    font-size: 14px;
    max-width: 360px;
    letter-spacing: 1px; 
}
@media (max-width: 992px) {
    .about_theater__text  {
        font-size: 16px;
      }
}
.about_theater__inner {
    max-width: 450px;
}
.about_theater__wrap {
    margin: 0 60px 0 50px;
}
.foto-facade {
    width: 350px;
    height: 290px;
}
@media (max-width: 992px) {
    .foto-facade  {
        display: none;
      }
} 
.about_theater__wrapper {
    width: 100%;
}
/* !секция 3я "наши постановки" */

.our_productions__title {
    text-transform: uppercase;
    font-size: 48px;
}
.image{
    margin-left: 140px;
}
@media (max-width: 992px) {
    .image {
        margin-left: 840px;
      }
}
.image-theater1 {
    width: 440px;
    height: 550px;
    background-image: url(../img/1.png);
}
.search1 {
    display: none;
}
.img1 {
    opacity:0;
}
.image-theater1:hover .search1 {
    margin-top: 230px;
    margin-left: 170px;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    background-color: var(--accent);
}
.image-theater1:hover .img1 {
    opacity:1;
}
.image-theater1:hover .image-text {
    display: none;
}
.image-theater1:hover .image-vertical_text {
    display: none;
}
.image-theater2 {
    width: 440px;
    height: 550px;
    background-image: url(../img/2.png);
}
.search2 {
    display: none;
}
.img2 {
    opacity:0;
}
.image-theater2:hover .search2 {
    margin-top: 230px;
    margin-left: 170px;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    background-color: var(--accent);
}
.image-theater2:hover .img2 {
    opacity:1;
}
.image-theater2:hover .image-text {
    display: none;
}
.image-theater2:hover .image-vertical_text {
    display: none;
}
.image-theater3 {
    width: 440px;
    height: 550px;
    background-image: url(../img/3.png);
}
.search3 {
    display: none;
}
.img3 {
    opacity:0;
}
.image-theater3:hover .search3 {
    margin-top: 230px;
    margin-left: 170px;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    background-color: var(--accent);
}
.image-theater3:hover .img3 {
    opacity:1;
}
.image-theater3:hover .image-text {
    display: none;
}
.image-theater3:hover .image-vertical_text {
    display: none;
}
.image-theater4 {
    width: 440px;
    height: 550px;
    background-image: url(../img/4.png);
}
.search4 {
    display: none;
}
.img4 {
    opacity:0;
}
.image-theater4:hover .search4 {
    margin-top: 230px;
    margin-left: 170px;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    background-color: var(--accent);
}
.image-theater4:hover .img4 {
    opacity:1;
}
.image-theater4:hover .image-text {
    display: none;
}
.image-theater4:hover .image-vertical_text {
    display: none;
}
.image-text {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
}
.image-vertical_text{
    height: 550px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    transform: rotate(-90deg);
    letter-spacing: 1px; 
}

/* ! секция 3я "лучший театр" */

.best_theater {
    background-image: url(../img/best_theater.png);
    width: 1110px;
    height: 550px;
}
.best_theater__year{
    color: var(--accent); 
    font-size: 72px;
    font-weight: 600;
}
.best_theater__title{
    font-size: 36px;
    font-weight: 700;
    margin-right: 50px;
}
.best_theater__inner {
    margin-left: 15%;
} 
/* !секция 4я "партнеры театра" */

.theater_partners__logo {
    flex-wrap: wrap;
    width: 100%;
    max-height: 250px;
}
@media (max-width: 992px) {
    .theater_partners__logo {
        margin-left: 650px;
      }
}
@media (max-width: 992px) {
    .image-logo {
        width: 240px;
        height: 100px;
        margin-right: 60px;
      }
}
/* !секция 5я "стасть меценатом */
.donate__title{
    margin-bottom: -60px;
}
.donate__message {
    font-family: "Open sans";
    font-size: 12px;
    width: 300px; 
    margin-top: 73px;
    padding: 10px 10px 0px 10px;
    resize: vertical;
    min-height: 95px;
    max-height: 95px;
    overflow: auto;
    color: white;
    border-width: 1px;
}
.donate__menu{
    flex-wrap: wrap;
    width: 100%;
    max-height: 100px;
}
.donate__text{
    max-width: 390px;
    font-size: 10px;
    margin-top: -11%; 
    font-family: "Open sans";
    font-weight: 400; 
    letter-spacing: 0.5px; 
    color: #989898;
    margin-left: 60px;
} 
@media (max-width: 992px) {
    .donate__text {
        margin-right: 550px;
      }
} 
.donate__name{
    font-family: "Open sans";
    font-weight: 400;
    width: 180px;
    height: 35px;
    font-size: 12px;
    color: white;
    padding-left: 10px;
    border-width: 1px;
}
.donate__button {
    width: 190px;
    height: 50px;
    background-color: var(--accent);
    margin-left: 110px;
}
.donate__wrapper {
    margin-bottom: 80px;
}

@media (max-width: 992px) {
    .donate__wrapper {
        flex-direction: column;
      }
}
@media (max-width: 992px) {
    .email {
        transform: scaleX(-1);
      }
}
@media (max-width: 992px) {
    .address {
        transform: scaleX(-1);
      }
}
.donate__link{
    color: white;
}
.donate__link:hover {
    color: var(--accent);
}
.donate__wrap{
    font-size: 16px;
    margin-top: 8%;
    font-weight: 600;
    font-family: "Open sans Condensed";
    text-transform: uppercase;
}
textarea::placeholder {
    color: #989898;
   }
input[type="tel"]::placeholder {
    color: #989898;
   }
input[type="email"]::placeholder {
    color: #989898;
   }
input[type="text"]::placeholder {
    color: #989898;
   }
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
/*! футур */
.footer-line{
    margin-top: 70px;
    height: 0.5px;
}
.footer-text{
    font-size: 12px;
    color: #989898;
    font-family: "Open sans"
}
